body {
    font-family: "Montserrat", sans-serif;
}

.container {
    text-align: center;
}

p {
    color: #000;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 30px;
    padding-bottom: 10px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    /* font-weight: bold; */
    font-size: 1rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2.5;
}

a {
    text-decoration: none;
    color: black;
}

.phone {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5;
}

.cake {
    color: #8f8f8f;
}

.btn {
    /* background-color: #890f0d;
    color: #fff; */
    margin: 20px;
}

#pricing {
    padding: 100px;
    text-align: center;
    margin-top: -80px;
}

.pricing-column {
    padding: 1% 1%;
}

#footer {
    background-color: #D0C9C0;
    text-align: center;
    padding: 3% 15%;
}

.foot {
    margin: 15px 10px;
}

.img_footer {
    margin-bottom: 10px;
}

.copyright {
    color: black;
}
#form {
    margin-top: 20px;
    padding: 10px 50px 50px 50px;
    background-color: bisque;
}

#order_button {
    color: #fff;
}

.form-check {
    padding-top: 8px;
}

.topbutton {
    width:70px;
    border:2px solid #ccc;
    background:#73777b;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:10px;
    cursor:pointer;
    color:#fff;
    font-family: "Montserrat", sans-serif;
    font-size:12px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    }

.topbutton:hover {
    background-color: #fff;
    color: #890f0d;
}    

